@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

html, body {
	height: 100%;
	margin: 0;
}
img {
    width: 100%;
}
.form-style {
    padding: 5vh;
    background-color: #9bafca;
}
.color1 {
	background-color: #b56969;
}
.color2 {
    background-color: #e6cf8b;
}
.color3 {
    background-color: #22264b;
}
.container-fluid {
    min-height: 100vh;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    min-height: 100vh;
    left: 5%;
    bottom: 0;
    top: 0;
    background-color: #e8edf3;
    overflow: hidden;
}
.scrollable-img {
    display: block;
    position: absolute;
    width: 107%;
    max-height: 25vh;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
}
.content {
    position: relative;
    margin: 10%;
    font-family: 'Hind', sans-serif;
}
.content > p {
    font-size: 18px;
    line-height: 36px;
}
.header-block {
    position: relative;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 48px;
}
.push-down {
    min-height: 25vh;
}
.content-buffer {
    min-height: 10vh;
}
.col-sm-2 i {
    display:block;
    text-align:center;
}
.col-xs-12 i {
    display:block;
    text-align:center;
    font-size: 120px;
}



/* Extra Extra small devices*/ 
@media only screen and (min-width : 300px) {
    .content {
        top: 15vh;
    }
    .header-block {
        top: 15vh;
        text-align: center; 
    }
}
@media only screen and (min-width : 400px) {
    .header-block {
        top: 20vh;
    }
}
/*Extra Small Devides, Phones*/
@media only screen and (min-width : 480px) {
    .header-block {
        top: 25vh;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}