@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

html, body {
	height: 100%;
	margin: 0;
}
img {
    width: 100%;
}
input, button {
    border-radius: 0 !important;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #F8F5EE;
    color: #666;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.form-style {
    padding: 5vh;
    background-color: #F8F5EE;
}
.color0 {
	background-color: #b3c2bf;
}
.color1 {
    background-color: #e6cf8b;
}
.color2 {
    background-color: #22264b;
}
.color3 {
    background-color: #b56969;
}
.container-fluid {
    min-height: 100vh;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    min-height: 100vh;
    left: 5%;
    bottom: 0;
    top: 0;
    overflow: hidden;
}
.welcome {
    position: relative;
    height: 28vh;
}
.welcome-text {
    position: absolute;
    bottom: 25%;
    width: 100%;
    text-align: center;
}
.code-block {
    background-color: #af9da0;
    padding: 10px;
    margin-top: 20px;
}
.nav {
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
}
.scrollable-img {
    display: block;
    position: relative;
    width: 107%;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.img-selfie {
    display:none;
    visibility: hidden;
    border-radius: 6px;
    max-height:40vh;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.content {
    position: relative;
    margin: 10%;
    font-family: 'Hind', sans-serif;
}
.content > p {
    font-size: 18px;
    line-height: 36px;
}
.header-block {
    position: relative;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 72px;
}

.nav-buffer {
    min-height: 5vh;
}
.content-buffer {
    min-height: 10vh;
}
.col-sm-2 i {
    display:block;
    text-align:center;
}
.downarr {
    position: absolute;
    bottom: 0;
    font-size: 120px;
}
#downarrow {
    -webkit-transition:text-shadow 0.5s;
    -moz-transition:text-shadow 0.5s;
    -o-transition:text-shadow 0.5s;
    -ms-transition:text-shadow 0.5s;
    transition:text-shadow 0.5 s;
}

.img-fadein {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.borderless td, .borderless th {
    border: none !important;
}

.row-title {
    font-weight: bold;
    vertical-align: top;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .img-selfie {
        max-width: 90%;
    }
}

/* Extra Extra small devices*/ 
@media only screen and (min-width : 300px) {
    .content {
        top: 15vh;
    }
    .header-block {
        top: 15vh;
        text-align: center; 
    }
    .push-down {
        min-height: 10vh
    }
}
@media only screen and (min-width : 400px) {
    .header-block {
        top: 20vh;
    }
}
/*Extra Small Devides, Phones*/
@media only screen and (min-width : 480px) {
    .header-block {
        top: 25vh;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .nav {
        visibility: visible;
        top:80vh;
    }
    .scrollable-img {
        margin-right: 50px;
        margin-left: 50px;
    }
    .push-down {
        min-height: 28vh;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}